<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.app.webadmin.upms.dao.SchoolFeeMapper">
    <resultMap id="BaseResultMap" type="com.course.app.webadmin.upms.model.SchoolFee">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="source_address" jdbcType="VARCHAR" property="sourceAddress"/>
        <result column="score_range" jdbcType="VARCHAR" property="scoreRange"/>
        <result column="rule_desc" jdbcType="VARCHAR" property="ruleDesc"/>
        <result column="fee" jdbcType="INTEGER" property="fee"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted_flag" jdbcType="INTEGER" property="deletedFlag"/>
    </resultMap>

    <insert id="insertList">
        INSERT INTO school_fee
            (id,
            source_address,
            score_range,
            rule_desc,
            fee,
            create_user_id,
            create_time,
            update_user_id,
            update_time,
            deleted_flag)
        VALUES
        <foreach collection="list" index="index" item="item" separator="," >
            (#{item.id},
            #{item.sourceAddress},
            #{item.scoreRange},
            #{item.ruleDesc},
            #{item.fee},
            #{item.createUserId},
            #{item.createTime},
            #{item.updateUserId},
            #{item.updateTime},
            #{item.deletedFlag})
        </foreach>
    </insert>

    <!-- 如果有逻辑删除字段过滤，请写到这里 -->
    <sql id="filterRef">
        <!-- 这里必须加上全包名，否则当filterRef被其他Mapper.xml包含引用的时候，就会调用Mapper.xml中的该SQL片段 -->
        <include refid="com.course.app.webadmin.upms.dao.SchoolFeeMapper.inputFilterRef"/>
        AND school_fee.deleted_flag = ${@com.course.app.common.core.constant.GlobalDeletedFlag@NORMAL}
    </sql>

    <!-- 这里仅包含调用接口输入的主表过滤条件 -->
    <sql id="inputFilterRef">
        <if test="schoolFeeFilter != null">
        </if>
    </sql>

    <select id="getSchoolFeeList" resultMap="BaseResultMap" parameterType="com.course.app.webadmin.upms.model.SchoolFee">
        SELECT * FROM school_fee
        <where>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>
</mapper>
