<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.app.webadmin.upms.dao.SysStudentMapper">

	<select id="listStudentInfo" parameterType="java.util.Map" resultType="java.util.Map">
		select t.*,sc.class_name,sd.bed_num,sd.build_num,sd.dorm_num,sd.dorm_type from sys_student t
		left join sys_class sc on t.class_id = sc.class_id
		left join sys_dorm sd on t.dorm_id =
		sd.dorm_id
		where 1=1
		<if test="studentName != null and studentName != ''">
			and t.student_name = #{studentName}
		</if>
		<if test="sex != null and sex != ''">
			and t.sex = #{sex}
		</if>
		<if test="identityCard != null and identityCard != ''">
			and t.identity_card = #{identityCard}
		</if>
		<if test="homeAddress != null and homeAddress != ''">
			and t.home_address like CONCAT('%', #{homeAddress}, '%')
		</if>
		<if test="gradeSchool != null and gradeSchool != ''">
			and t.grade_school like CONCAT('%', #{gradeSchool}, '%')
		</if>
		<if test="studentStatusDistNm != null and studentStatusDistNm != ''">
			and t.student_status_dist_nm = #{studentStatusDistNm}
		</if>
		<if test="classId != null and classId != ''">
			and sc.class_id = #{classId}
		</if>
		<if test="dormType != null and dormType != ''">
			and sd.dorm_type = #{dormType}
		</if>
		<if test="mseScoreMin != null and mseScoreMin != ''">
			and t.mse_score <![CDATA[ >= ]]>
			#{mseScoreMin}
		</if>
		<if test="mseScoreMax != null and mseScoreMax != ''">
			and t.mse_score <![CDATA[ <= ]]>
			#{mseScoreMax}
		</if>
		<if test="dependant != null and dependant != ''">
			and t.dorm_type = #{dependant}
		</if>
		<if test="phoneNum != null and phoneNum != ''">
			and t.phone_num = #{phoneNum}
		</if>
		<if test="payType != null and payType != ''">
			and t.pay_type = #{payType}
		</if>
		<if test="deletedFlag != null and deletedFlag != ''">
			and t.deleted_flag = #{deletedFlag}
		</if>
	</select>
</mapper>
